.margin-top-links { margin-top:10px; }
.margin-top-head { margin-top:10px; }
.margin-bot-head { margin-bottom: 95px; }
.margin-top-list { margin-top: 10px; }
.margin-bot-list { margin-bottom: 45px; }
.margin-left-list { margin-left: 5px; }

.text-blue { color: #4285F4; }
.text-red { color: #EA4335; }
.text-yellow { color: #FBBC05; }
.text-green { color: #34A853; }
