<!DOCTYPE html>
<!-- Projects template for TheNightmanCodeth.me -->
{% extends "clover_head.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>CloverOS</h1>
      <p class="lead">Rice, rice, baby</p>
    </div>
  </div>

  <div class="container marketing">

      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="col-md-7 col-xs-12">
          <h2  class="featurette-heading">Minimal<br><span class="text-muted" style="font-size:28px">Simple, functional, minimal</span></h2>
          <p class="lead">CloverOS was designed to work well, and look great while doing it. Multiple 'spins' allow for maximum customization, while still maintaining a minimal footprint.</p>
        </div>
        <div class="col-md-5 col-xs-12 align-self-center">
          <img class="featurette-image img-fluid mx-auto" src="../static/assets/clover/netbook.png" alt="CirkitOS - Netbook">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-xs-12 push-md-5">
          <h2 class="featurette-heading">Live <br> <span class="text-muted" style="font-size: 28px">Gentoo made easy</span></h2>
          <p class="lead">Getting up and running on a Gentoo system has never been easier. Simply write the live iso to a flash drive and boot up. Our install script will have you up and running in no time!</p>
        </div>
        <div class="col-md-5 col-xs-12 pull-md-7 align self-center">
          <img class="featurette-image img-fluid mx-auto" src="../static/assets/clover/LiveCD.png" alt="Classi Icon">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 CloverOS, Inc.</p>
      </footer>
    </div><!-- /.container -->
{% endblock %}
